<%-include layout.ejs%>

<style>
  body,html{
    background:black;
    color:white;
  }
  #gameCanvas{
    position:absolute;
  }
  #guiCanvas{
    position:absolute;
    left: 730px;
  }

  #debugCanvas{
    position:absolute;
    top: 600px;
  }

</style>

<script src="javascripts/mousetrap.min.js"></script>
<script src="javascripts/Objects.js"></script>
<script src = "javascripts/game.js"></script>

<h1><%= title %></h1>
<p>Welcome to <%=title%></p>

<canvas id="gameCanvas" width="720" height="480">
</canvas>

<canvas id="debugCanvas" width="720" height="480">
</canvas>

<canvas id="guiCanvas" width="300" height="480">
</canvas>
