<%-include layout.ejs%>

<style>
  body,html{
    background:black;
    color:white;
  }

</style>

<script src="javascripts/Objects.js"></script>
<script src = "javascripts/game.js"></script>

<h1><%= title %></h1>
<p>Welcome to <%=title%></p>

<canvas id="gameCanvas" width="720" height="480">
</canvas>
